.neuro-method {
  padding-top: 200px;


  &__title {
    position: relative;
    margin-bottom: 130px;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      height: 100%;
      width: 50%;
      background: #6D9AE4;
      border-radius: 13.3333px;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .method {
    position: relative;
    width: calc(33% - 20px);
    min-height: 600px;
    overflow: hidden;
    box-shadow: 0px -4.03902px 4.03902px rgba(109, 154, 228, 0.2), 0px 4.03902px 4.03902px rgba(109, 154, 228, 0.2);
    border-radius: 5px;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 63.7%, rgb(255 255 255 / 87%) 88.48%, rgb(255 255 255) 100%);
      transition: all 0.5s;
    }

    &__picture {
      height: 330px;

      &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      padding: 26px 40px 25px 28px;
      transition: all 0.8s;
      transform: translateY(55%);

      &-title {
        font-weight: 700;
        font-size: 25px;
        line-height: 112%;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      &-desc {
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          color: #000000;
        }

        p+p {
          margin-top: 25px;
        }
      }
    }

    &:hover {
      &::after {
        opacity: 0;
      }

      .method__content {
        transform: translate(0);
      }
    }
  }

}



@media screen and (max-width: 1560px) {
  .neuro-method {
    padding-top: 100px;


    &__title {
      margin-bottom: 60px;
    }

    .method {
      width: calc(33% - 12px);
      height: 470px;

      &__picture {
        height: 250px;
      }

      &__content {
        padding: 20px;
        transform: translateY(45%);

        &-title {
          font-size: 20px;
        }

        &-desc {
          p {
            font-size: 16px;
          }

          p+p {
            margin-top: 15px;
          }
        }
      }
    }
  }

}




@media screen and (max-width: 992px) {
  .neuro-method {
    padding-top: 67px;

    &__title {
      font-size: 35px;
    }


    &__wrapper {
      flex-wrap: wrap;
      gap: 20px 0;
    }


    .method {
      width: calc(49% - 10px);
      min-height: 400px;
    }

  }
}




@media screen and (max-width: 568px) {
  .neuro-method {
    padding: 0;

    &__title {
      margin-bottom: 35px;

      &::after {
        top: 0%;
        height: 50%;
        width: 100%;
        border-radius: 6.3333px;
        transform: translate(-10%, 0%);
      }
    }



    .method {
      width: calc(100%);
      min-height: 450px;

      &__content {
        &-desc {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}