.programs {
    padding-top: 130px;

    &__title {
        position: relative;
        font-size: 50px;
        line-height: 100%;
        width: fit-content;

        &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 120%;
            width: 100%;
            background: #6D9AE4;
            border-radius: 13.3333px;
            transform: translate(-68%, -10%);
            z-index: -1;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        margin: 40px 0;
    }


    &__desc {
        margin-top: 50px;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
    }

    .programs-boxs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 70px 0;


        .programs-box {
            position: relative;
            width: 100%;
            max-width: calc(33.3% - 20px);
            height: 800px;
            background: #FFFFFF;
            box-shadow: 0px -4.03902px 4.03902px rgba(109, 154, 228, 0.2), 0px 4.03902px 4.03902px rgba(109, 154, 228, 0.2);
            border-radius: 5px;
            overflow: hidden;
            transition: all 0.5s;

            &__picture {
                width: 100%;
                height: 333px;

                &-img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__content {
                position: absolute;
                top: 40%;
                height: 100%;
                background: #fff;
                padding: 26px 35px 35px 28px;
                transition: all 1s;

                &-title {
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 28px;
                    /* identical to box height, or 112% */
                    text-transform: uppercase;
                    margin-bottom: 25px;
                }

                &-subtitle {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 15px;
                }

                &-desc {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 15px;
                }

                &-list {
                    padding-left: 25px;
                }

                &-item {
                    list-style: disc;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                }

                &-btn {
                    position: absolute;
                    left: 28px;
                    bottom: 40px;
                    font-size: 20px;
                }

                &-item+.programs-box__content-item {
                    margin-top: 2px;
                }
            }

            &:hover {
                &::after {
                    opacity: 0;
                    transform: translateY(100%);
                }

                .programs-box__content {
                    top: 0;
                }
            }


            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 63.7%, rgb(255 255 255 / 87%) 88.48%, rgb(255 255 255) 100%);
                transition: all 0.8s;
            }
        }
    }
}



@media screen and (max-width: 1560px) {
    .programs {
        padding-top: 90px;

        .programs-boxs {
            gap: 60px 0;


            .programs-box {
                height: 700px;

                &__picture {
                    height: 250px;
                }

                &__content {
                    top: 35%;
                    padding: 20px 10px 35px 20px;

                    &-title {
                        font-size: 20px;
                        line-height: 112%;
                        margin-bottom: 15px;
                    }

                    &-subtitle {
                        font-size: 16px;
                        line-height: 100%;
                        margin-bottom: 10px;
                    }

                    &-desc {
                        font-size: 16px;
                        line-height: 119%;
                        margin-bottom: 10px;
                    }

                    &-list {
                        padding-left: 25px;
                    }

                    &-item {
                        font-size: 16px;
                    }

                    &-btn {
                        bottom: 30px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1300px) {
    .programs {
        padding-top: 90px;

        .programs-boxs {
            gap: 40px 0;

            .programs-box {
                height: 800px;
            }
        }
    }
}



@media screen and (max-width: 992px) {
    .programs {

        .programs-boxs {
            gap: 40px 0;


            .programs-box {
                max-width: calc(49.9% - 20px);
                height: 800px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .programs {

        .programs-boxs {

            .programs-box {
                max-width: calc(100%);
                height: 700px;
            }
        }
    }
}


@media screen and (max-width: 568px) {
    .programs {
        padding-top: 50px;

        &__title {
            font-size: 30px;


            &::after {
                height: 60%;
                transform: translate(-46%, -15%);
            }
        }

        &__subtitle {
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            margin: 10px 0 40px;
        }


        &__desc {
            display: none;
        }


        .programs-boxs {
            gap: 20px;

            .programs-box {
                max-width: calc(100%);
                height: 420px;


                &__picture {
                    height: 200px;
                }

                &__content {
                    padding: 20px 5px 55px 16px;
                    top: 45%;

                    &-title {
                        font-size: 16px;
                        margin-bottom: 15px;
                    }

                    &-subtitle {
                        font-size: 14px;
                        line-height: 120%;
                        margin-bottom: 15px;
                    }

                    &-desc {
                        font-size: 14px;
                        line-height: 120%;
                        margin-bottom: 15px;
                    }

                    &-list {
                        padding-left: 15px;
                    }

                    &-item {
                        font-size: 14px;
                    }

                    &-btn {
                        left: 16px;
                        bottom: 13px;
                        font-size: 14px;
                    }

                    &-item+.programs-box__content-item {
                        margin-top: 2px;
                    }
                }


                &:hover {
                    height: auto;

                    .programs-box__content {
                        position: static;
                        top: 0;
                    }
                }
            }
        }
    }
}