.therapy {
    padding-top: 100px;

    &__desc {
        max-width: 1230px;
        margin: 0 auto 100px;

        &-text {
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
        }

        &-text+.therapy__desc-text {
            margin-top: 30px;
        }
    }

    &__title {
        position: relative;
        font-size: 50px;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: #6D9AE4;
            border-radius: 13.3333px;
            transform: translateX(-42%);
            z-index: -1;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
    }

    .therapy-boxs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px 20px;
        margin: 90px 0 76px;

        &__item {
            position: relative;
            width: 100%;
            max-width: calc(24% - 10px);
            height: 218px;
            padding: 10px 19px;
            background: #FFFFFF;
            box-shadow: 0px -5.33333px 5.33333px rgba(109, 154, 228, 0.2), 0px 5.33333px 5.33333px rgba(109, 154, 228, 0.2);
            border-radius: 6.66667px;

            &-top {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

            &-number {
                font-weight: 700;
                font-size: 60px;
                line-height: 100%;
                letter-spacing: 0.03em;
                color: rgba(109, 154, 228, 0.7);
                margin-right: 20px;
            }

            &-icon {
                display: block;
                width: auto;
                height: 42px;
            }

            &-title {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                line-height: 140%;
            }

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                height: 3px;
                background: #fff;
                border-radius: 5px;
                transition: all 0.5s;
            }

            &:hover {
                &::after {
                    background: #6D9AE4;
                }
            }
        }
    }
}


@media screen and (max-width: 1560px) {
    .therapy {
        padding-top: 70px;

        &__title {
            font-size: 46px;
        }

        &__subtitle {
            font-size: 40px;
        }

        .therapy-boxs {
            margin: 80px 0 66px;

            &__item {
                position: relative;
                width: 100%;
                max-width: calc(24% - 10px);
                height: 218px;
                padding: 10px 19px;
                background: #FFFFFF;
                box-shadow: 0px -5.33333px 5.33333px rgba(109, 154, 228, 0.2), 0px 5.33333px 5.33333px rgba(109, 154, 228, 0.2);
                border-radius: 6.66667px;

                &-top {
                    margin-bottom: 15px;
                }


                &-title {
                    font-size: 18px;
                    line-height: 120%;
                }


            }
        }
    }

}



@media screen and (max-width: 992px) {
    .therapy {
        .therapy-boxs {
            &__item {
                max-width: calc(50% - 10px);
            }
        }
    }

}



@media screen and (max-width: 568px) {
    .therapy {
        padding-top: 60px;



        &__desc {
            margin: 0 auto 90px;

            &-text {
                font-size: 14px;
            }

            &-text+.therapy__desc-text {
                margin-top: 20px;
            }
        }

        &__title {
            font-size: 30px;

            &::after {
                width: 100%;
                height: 30%;
                transform: translateX(-32%);
                border-radius: 6px;
            }
        }

        &__subtitle {
            font-size: 18px;
        }

        .therapy-boxs {
            gap: 20px 0;
            margin: 35px 0 40px;

            &__item {
                max-width: calc(49% - 4px);
                height: auto;
                padding: 10px 6px;
                box-shadow: 0px -5.33333px 5.33333px rgba(109, 154, 228, 0.2), 0px 5.33333px 5.33333px rgba(109, 154, 228, 0.2);

                &-top {
                    margin-bottom: 10px;
                }

                &-number {
                    font-size: 35px;
                    margin-right: 15px;
                }

                &-icon {
                    height: 24px;
                }

                &-title {
                    font-size: 14px;
                    line-height: 140%;
                    text-transform: math-auto;
                }

            }
        }
    }

}