.advances-company {
    padding-top: 165px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 80px;
    }

    &__decoration {
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 80%;
        background: #6D9AE4;
        border-radius: 6px;
        transform: translate(20px, -20px);
    }

    .picture {
        position: relative;
        width: 100%;
        max-width: 45%;
    }

    &__img {
        position: relative;
        display: block;
        width: 100%;
        z-index: 5;
    }

    .content {
        position: relative;
        width: 100%;
        max-width: 50%;

        &::after {
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            width: 500px;
            height: 450px;
            background-image: url('@img/bird.png');
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-30%);
        }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 100px 40px;
        }
    }



    .advances-box {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: calc(50% - 20px);

        &__icon {
            display: block;
            width: 100%;
            max-width: 80px;
            margin-right: 25px;
        }

        &__desc {
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            // word-break: break-all; 
        }
    }

}


@media screen and (max-width: 1560px) {
    .advances-company {
        padding-top: 70px;

        &__title {
            margin-bottom: 50px;
        }

        .advances-box {

            &__icon {
                max-width: 70px;
            }

            &__desc {
                font-size: 16px;
            }
        }
    }
}





@media screen and (max-width: 992px) {
    .advances-company {

        &__wrapper {
            flex-direction: column;
        }

        .picture {
            max-width: 95%;
            margin-bottom: 20px;
        }


        .content {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 568px) {
    .advances-company {
        &__title {
            text-align: center;
            font-size: 25px;
            line-height: 100%;
            margin-bottom: 20px;
        }

        .content {
            &__wrapper {
                flex-wrap: nowrap;
                gap: 10px;
                flex-direction: column;
            }

            .advances-box {
                max-width: 100%;

                &__icon {
                    max-width: 40px;
                    margin-right: 10px;
                }

                &__desc {
                    font-size: 14px;
                    word-break: break-word;
                    max-width: 80%;
                }


            }

            &::after {
                width: 216.48px;
                height: 169.47px;
            }
        }
    }
}