.gallery {
    padding-top: 140px;

    &__title {
        text-align: center;
        margin-bottom: 74px;
    }

    .slider-gallery {
        position: relative;

        &__item {
            position: relative;
            width: 100%;
            max-width: 1250px;
            margin: 0 20px;

            &-img {
                position: relative;
                display: block;
                width: 100%;
                height: 700px;
                object-fit: cover;
                border-radius: 14px;
                bottom: 0;
            }
        }
    }


    .slick-prev {
        position: absolute;
        left: 15%;
        top: 50%;
        z-index: 20;
        font-size: 0;
        border: none;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-color: transparent;
        background-image: url('@img/arrow-slider-disable.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(180deg) scale(0.9) translateY(50%);
        transition: all 0.5s;

        &:hover {
            transform: rotate(180deg) scale(1) translateY(50%);
            background-image: url('@img/arrow-slider.svg');
        }
    }

    .slick-next {
        position: absolute;
        right: 15%;
        top: 50%;
        z-index: 20;
        font-size: 0;
        border: none;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-color: transparent;
        background-image: url('@img/arrow-slider-disable.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.5s;
        transform: scale(0.9) translateY(-50%);

        &:hover {
            transform: scale(1) translateY(-50%);
            background-image: url('@img/arrow-slider.svg');
        }
    }
}



@media screen and (max-width: 1568px) {
    .gallery {
        padding-top: 100px;

        &__title {
            margin-bottom: 54px;
        }


        .slider-gallery {
            position: relative;

            &__item {

                &-img {
                    height: 522px;
                }
            }
        }
    }
}





@media screen and (max-width: 568px) {
    .gallery {
        padding-top: 80px;

        &__title {
            margin-bottom: 30px;
            font-size: 25px;
        }


        .slider-gallery {
            position: relative;

            &__item {

                &-img {
                    height: 222px;
                    border-radius: 5px;
                }
            }
        }



        .slick-prev {
            left: 5%;
            width: 30px;
            height: 30px;
        }

        .slick-next {
            right: 5%;
            width: 30px;
            height: 30px;
        }
    }
}