.reviews {
    padding-top: 120px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        position: relative;
        text-align: right;
        transform: rotate(-90deg) translate(-40%, 250%);
        z-index: 5;
    }

    .reviews-video {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;

        &::after {
            position: absolute;
            content: '';
            top: 100px;
            left: 0;
            width: 150%;
            height: 150px;
            background: #6D9AE4;
            border-radius: 13.3333px;
            transform: translateX(-20%);
        }

        .box-video {
            position: relative;

            &__inner {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                max-width: 200px;
                margin-left: auto;
                transform: translate(50%, 20%);
            }

            &__picture {
                display: block;
                width: 100%;
                max-width: 400px;
            }

            &__title {
                position: relative;
                width: fit-content;
                font-weight: 700;
                font-size: 24px;
                line-height: 31px;
                text-transform: uppercase;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background: #000;
                }
            }

            &__btn {
                position: relative;
                width: 80px;
                height: 80px;
                cursor: pointer;
                background: #fff;
                border-radius: 50%;
                background-color: none;
                overflow: hidden;
                border: 2px solid #78D651;
                margin-bottom: 15px;

                &::after {
                    position: absolute;
                    content: '';
                    left: 50%;
                    top: 50%;
                    width: 25px;
                    height: 50px;
                    background-image: url('@img/play.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translate(-30%, -50%);
                    transition: all 0.5s;
                    z-index: 5;
                }

                &::before {
                    position: absolute;
                    content: '';
                    left: 0%;
                    top: 0%;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    transition: all 0.5s;
                    z-index: 2;
                }

                &:hover {
                    &::after {
                        background-image: url('@img/play-w.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    &::before {
                        background: #78D651;
                    }
                }
            }
        }

    }

    .reviews-message {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 60px 20px;
        width: 100%;
        max-width: 70%;

        .box-reviews {
            width: 100%;
            max-width: calc(50% - 13px);
            padding: 20px 42px 70px 30px;
            background: #FFFFFF;
            box-shadow: 0px -5.33333px 5.33333px rgba(109, 154, 228, 0.2), 0px 5.33333px 5.33333px rgba(109, 154, 228, 0.2);
            border-radius: 6.66667px;

            &__top {
                position: relative;
                display: flex;
                align-items: center;
                margin: -30px 0 20px;

                &::after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    width: 40px;
                    height: 30px;
                    background-image: url('@img/reviews-icon.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translateY(-50%);
                }
            }

            &__photo {
                display: block;
                width: 100%;
                max-width: 100px;
                margin-right: 40px;
            }

            &__name {
                font-weight: 500;
                font-size: 18.6667px;
                line-height: 29px;
            }

            &__desc {
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                ;
            }
        }


    }
}


@media screen and (max-width: 1560px) {
    .reviews {
        padding-top: 90px;

        &__title {
            text-align: right;
            transform: rotate(-90deg) translate(-40%, 100%);
        }

        .reviews-message {
            .box-reviews {
                padding: 20px 32px 50px 20px;


                &__photo {
                    max-width: 74px;
                    margin-right: 30px;
                }

                &__name {
                    font-size: 15.6667px;
                    line-height: 100%;
                }

                &__desc {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                }
            }
        }


        .reviews-video {
            .box-video {
                width: 280px;
            }

            &::after {
                top: 10%;
                transform: translateX(-45%);
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .reviews {
        padding-top: 90px;


        &__wrapper {
            align-items: flex-start;
        }

        &__title {
            text-align: right;
            transform: rotate(-90deg) translate(-25%, 100%);
        }

        .reviews-message {
            .box-reviews {
                max-width: 100%;

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: none;
                }
            }
        }

        .reviews-video {
            max-width: 40%;

            .box-video {
                &__picture {
                    max-width: 80%;
                }
            }

            &::after {
                z-index: -1;
                height: 100px;
            }
        }
    }
}

@media screen and (max-width: 568px) {
    .reviews {
        padding-top: 100px;


        &__wrapper {
            align-items: flex-end;
        }

        .title {

            font-size: 25px;
            line-height: 100%;
            transform: rotate(-90deg) translate(50%, -50%);
        }

        .reviews-video {
            max-width: 30%;

            &::after {
                top: -85%;
                transform: translateX(-45%);
            }

            .box-video {
                width: 109px;

                &__inner {
                    right: auto;
                    bottom: 0;
                    left: 0;
                    margin-left: auto;
                    transform: translate(0, 60%);
                }

                &__btn {
                    width: 25px;
                    height: 25px;

                    &::after {
                        width: 10px;
                        height: 13px;
                    }
                }

                &__title {
                    font-size: 14px;
                    line-height: 100%;
                }
            }
        }

        .reviews-message {
            .box-reviews {

                padding: 0px 12px 14px 10px;

                &__top {
                    margin-top: -2px;
                    margin-bottom: 7px;

                    &::after {
                        top: 50%;
                        width: 17px;
                        height: 12px;
                    }
                }

                &__photo {
                    max-width: 40px;
                    margin-right: 10px;
                }

                &__desc {
                    font-size: 14px;
                }

                &__name {
                    font-size: 11.6667px;
                }
            }
        }
    }
}