.services {
    padding-top: 120px;
    padding-bottom: 20px;

    &__title {
        width: 90%;
        margin: 0 auto 25px;
        margin-bottom: 40px;
    }


    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        width: 90%;
        margin: 0 auto;
        gap: 20px;
    }

    .services-box {
        width: 100%;
        max-width: calc(30% - 20px);
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 5.33333px 5.33333px rgba(109, 154, 228, 0.2);
        border-radius: 0px 0px 5px 5px;

        &:nth-child(1),
        &:nth-child(6),
        &:nth-child(7) {
            max-width: calc(40% - 20px);
        }



        &__picture {
            width: 100%;
            // border-radius: 5px 5px 0px 0px;
            overflow: hidden;

            &-img {
                display: block;
                width: 100%;
                object-fit: cover;
                height: 275px;
                transition: all 0.5s;
            }
        }

        &__content {
            padding: 36px 20px 32px 24px;
            transition: all 0.5s;
            height: 100%;


            &-title {
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                text-transform: uppercase;
                margin-bottom: 14px;
            }

            &-btn {
                font-size: 18px;
            }

        }

        &:hover {

            .services-box__picture-img {
                transform: scale(1.05);
            }

            .services-box__content {
                background: rgba(109, 154, 228, 0.7);
                box-shadow: 0px 5.33333px 5.33333px rgba(109, 154, 228, 0.2);
            }
        }
    }
}

@media screen and (max-width: 1560px) {
    .services {
        padding-top: 114px;

        &__title {
            margin: 0 auto 25px;
        }



        .services-box {

            &__picture {

                &-img {
                    height: 250px;
                }
            }

            &__content {
                padding: 36px 20px 32px 24px;

                &-title {
                    font-size: 18px;
                    line-height: 120%;
                }

                &-btn {
                    font-size: 16px;
                }
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .services {
        padding-top: 80px;

        &__title {
            width: 100%;
            margin: 0 auto 25px;
        }

        &__wrapper {
            width: 100%;
            margin: 0 auto;
        }


        .services-box {
            max-width: calc(50% - 20px);

            &:nth-child(1),
            &:nth-child(6),
            &:nth-child(7) {
                max-width: calc(50% - 20px);
            }
        }
    }
}


@media screen and (max-width: 568px) {
    .services {
        padding-top: 60px;

        &__title {
            font-size: 25px;
            line-height: 100%;
            margin-bottom: 27px;
        }


        &__wrapper {
            flex-wrap: nowrap;
            overflow: scroll;
            padding: 10px 0;
        }

        .services-box {
            max-width: calc(280px);
            min-width: calc(280px);

            &__picture {
                border-radius: 2.58333px 2.58333px 0px 0px;

                &-img {
                    height: 105px;
                }
            }

            &__content {
                padding: 11px 10px 12px 14px;

                &-title {
                    font-size: 15px;
                    margin-bottom: 30px;
                }
            }


            &:nth-child(1),
            &:nth-child(6),
            &:nth-child(7) {
                max-width: calc(280px);
                min-width: calc(280px);
            }
        }

    }
}