.outpatient {
  padding-top: 170px;

  &__title {
    position: relative;
    margin-bottom: 40px;
    width: fit-content;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: #6D9AE4;
      border-radius: 13.3333px;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    max-width: 900px;
    margin-bottom: 90px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 0;
  }

  .outpatient-box {
    position: relative;
    width: calc(33% - 10px);
    background: #fff;
    box-shadow: 0px -4.03902px 4.03902px rgba(109, 154, 228, 0.2), 0px 4.03902px 4.03902px rgba(109, 154, 228, 0.2);
    border-radius: 5px;

    &__picture {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 333px;

      &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s;
      }
    }

    &__content {
      padding: 26px 35px 40px 28px;

      &-title {
        font-weight: 700;
        font-size: 25px;
        line-height: 112%;
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      &-desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
      }


      &-item {
        position: relative;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        margin-top: 10px;
        padding-left: 33px;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          width: 20px;
          height: 20px;
          background-image: url('@img/list-icon.svg');
          transform: translateY(-50%);
          background-size: contain;
        }
      }
    }

    .mg-t-b {
      margin: 25px 0;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: #fff;
      transition: all 0.5s;
      border-radius: 5px;
    }

    &:hover {
      .outpatient-box__picture-img {
        transform: scale(1.05);
      }

      &::after {
        background: #6D9AE4;
      }
    }
  }
}

@media screen and (max-width: 1560px) {
  .outpatient {
    &__wrapper {
      gap: 40px 0;
    }

    .outpatient-box {
      &__picture {
        height: 243px;
      }

      &__content {
        padding: 20px 30px 20px 20px;

        &-title {
          font-size: 20px;
          margin-bottom: 15px;
        }

        &-desc {
          font-size: 16px
        }

        &-item {
          font-size: 16px;
          margin-top: 10px;
        }
      }

      .mg-t-b {
        margin: 15px 0;
      }
    }
  }
}




@media screen and (max-width: 992px) {
  .outpatient {
    &__wrapper {
      gap: 40px 0;
    }

    .outpatient-box {
      width: calc(50% - 10px);
    }
  }
}


@media screen and (max-width: 568px) {
  .outpatient {
    padding-top: 70px;

    &__wrapper {
      gap: 20px 0;
    }


    &__title {
      font-size: 30px;
      margin-bottom: 15px;

      &::after {
        height: 100%;
        transform: translateX(-60%);
      }
    }

    &__subtitle {
      font-size: 14px;
      margin-bottom: 40px;
    }

    .outpatient-box {
      width: 100%;

      &__picture {
        height: 200px;
      }

      &__content {
        padding: 20px 20px 30px 15px;

        &-title {
          font-size: 16px;
          margin-bottom: 12px;
        }

        &-desc {
          font-size: 14px
        }

        &-item {
          font-size: 14px;
          margin-top: 10px;
        }
      }

      .mg-t-b {
        margin: 12px 0;
      }
    }
  }
}