.filter-doctors {
    padding: 100px 0 50px;

    .accordions__nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 920px;
        margin: 0 auto 100px;

        &-item {
            width: 100%;
            max-width: 292px;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.03em;
            background: rgba(120, 214, 81, 0.6);
            border-radius: 5px;
            text-align: center;
            padding: 13px 50px;
            cursor: pointer;
            transition: all 0.5s;

            &--active {
                background: #78D651;
            }
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        transition: all 0.5s;
        animation: fade 1.5s;


        &__item {
            width: 100%;
            max-width: calc(25% - 22px);
            background: #FFFFFF;
            box-shadow: 0px 5.37758px 5.37758px rgba(109, 154, 228, 0.2);
            border-radius: 0px 0px 6.72197px 6.72197px;
            overflow: hidden;

            &-picture {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 310px;
            }

            &-img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all 0.5s;
            }

            &-text {
                padding: 30px 20px;
                transition: all 0.5s;

                height: 100%;
            }

            &-title {
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                text-transform: uppercase;
                margin-bottom: 18px;
            }

            &-desc {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }


            &:hover {
                .content__item-text {
                    background: #99B8EC;
                }

                .content__item-img {
                    transform: scale(1.05);
                }
            }
        }
    }




    .content-hidden {
        display: none;
        opacity: 0;
    }

    .content-show {
        display: flex;
        opacity: 1;
    }
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media screen and (max-width: 1568px) {
    .filter-doctors {

        .accordions__nav {
            margin: 0 auto 90px;
        }

        .content {
            gap: 20px;

            &__item {
                max-width: calc(25% - 15px);

                &-text {
                    padding: 20px 14px 20px 14px;
                }

                &-title {
                    font-size: 18px;
                    line-height: 110%;
                    margin-bottom: 18px;
                }

                &-desc {
                    font-size: 16px;
                    line-height: 110%;
                }
            }
        }




        .content-hidden {
            display: none;
            opacity: 0;
        }

        .content-show {
            display: flex;
            opacity: 1;
        }
    }
}




@media screen and (max-width:992px) {
    .filter-doctors {

        .accordions__nav {
            margin: 0 auto 60px;

            &-item {
                max-width: 33%;
            }
        }


        .content {
            justify-content: space-between;

            &__item {
                max-width: 30%;
            }
        }
    }
}

@media screen and (max-width:568px) {
    .filter-doctors {

        .accordions__nav {
            flex-direction: column;
            align-items: center;
            gap: 15px;
            margin: 0 auto 60px;

            &-item {
                max-width: 70%;
                font-size: 16px;
                line-height: 100%;
            }
        }


        .content {
            justify-content: space-between;

            &__item {
                max-width: 100%;


                &-text {
                    padding: 22px 15px 25px;
                    transition: all 0.5s;
                }



                &-title {
                    font-size: 18px;
                    line-height: 120%;
                    margin-bottom: 16px;
                }

                &-desc {
                    font-size: 16px;
                    line-height: 130%;
                }
            }
        }
    }
}