.article {
    padding: 100px 0 130px;

    .container {
        max-width: 1230px;
    }


    .article-filling {
        p {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 100px;
        }

        img {
            display: block;
            width: 100%;
            margin: 0 0 100px;
        }

        h3 {
            font-weight: 700;
            font-size: 50px;
            line-height: 100%;
            margin-bottom: 44px;
        }

        ul {
            list-style: disc;

            p {
                margin-bottom: 40px;
            }

            li {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

    .article-autor {
        position: relative;
        margin-top: 75px;
        padding-top: 75px;
        display: flex;
        align-items: center;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 50%;
            width: 100%;
            height: 3px;
            background: #6D9AE4;
            transform: translateX(-50%);
            border-radius: 10px;
        }

        &__photo {
            display: block;
            width: 100%;
            max-width: 250px;
            margin-right: 60px;
        }

        &__content {
            &-title {
                font-weight: 700;
                font-size: 30px;
                line-height: 120%;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            &-profession {
                max-width: 350px;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}




@media screen and (max-width: 1540px) {
    .article {
        padding: 80px 0 100px;

        .article-filling {
            p {
                font-size: 18px;
                margin-bottom: 50px;
            }

            img {
                margin: 0 0 50px;
            }
        }
    }

}



@media screen and (max-width: 992px) {
    .article {
        padding: 30px 0 80px;



        .article-filling {
            p {
                font-size: 14px;
                line-height: 120%;
            }

            img {
                display: block;
                width: 100%;
                margin: 0 0 50px;
            }

            h3 {
                font-size: 25px;
                margin-bottom: 30px;
            }

            ul {
                list-style: disc;

                p {
                    margin-bottom: 20px;
                }

                li {
                    font-size: 14px;
                    line-height: 120%;
                }
            }
        }



        .article-autor {
            position: relative;
            margin-top: 60px;
            padding-top: 30px;
            display: flex;
            align-items: center;

            &__photo {
                display: block;
                width: 100%;
                max-width: 174px;
                margin-right: 10px;
            }

            &__content {
                &-title {
                    font-size: 16px;
                    margin-bottom: 30px;
                }

                &-profession {
                    max-width: 170px;
                    font-size: 14px;
                }
            }
        }

    }

}