.contacts {
    padding: 140px 0 210px;

    .container {
        max-width: 1550px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .contacts-form {
        width: 100%;
        max-width: 750px;
        padding-right: 10px;
        border-right: 1.33333px solid rgba(109, 154, 228, 0.7);

        &__title {
            margin-bottom: 20px;
        }

        &__desc {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 60px;
        }

        .form {


            &__wrapper {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;
                max-width: 650px;
            }

            &__input {
                width: 100%;
                max-width: calc(50% - 30px);
                padding: 15px 15px 15px 0;
                border-bottom: 1.33333px solid #000000;
                border-left: none;
                border-right: none;
                border-top: none;
                font-weight: 500;
                font-size: 18px;
                line-height: 100%;
                font-family: "Montserrat", sans-serif;

                &::placeholder {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    color: #000000;
                    line-height: 100%;
                }
            }

            &__textarea {
                width: 100%;
                max-width: 600px;
                min-height: 200px;
                border-bottom: 1.33333px solid #000000;
                border-left: none;
                border-right: none;
                border-top: none;
                font-weight: 500;
                font-size: 18px;
                line-height: 100%;
                font-family: "Montserrat", sans-serif;

                &::placeholder {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 100%;
                    color: #000000;
                }
            }

            &__btn {
                font-family: "Montserrat", sans-serif;
                margin-top: 40px;
                border: none;
                font-size: 19.8022px;
                padding: 10px 30px;
                color: #000000;
                cursor: pointer;
            }
        }
    }

    .contacts-info {
        width: 100%;
        max-width: 650px;
        padding-left: 10px;

        &__title {
            margin-bottom: 45px;
        }

        &__item {
            display: flex;
            align-items: center;

            &-icon {
                display: block;
                width: 100%;
                max-width: 40px;
                margin-right: 20px;
            }

            &-link {
                font-size: 24px;
                line-height: 100%;
            }
        }

        &__item+.contacts-info__item {
            margin-top: 25px;
        }
    }

}

.location {
    &__img {
        display: block;
        width: 100%;
        height: 70vh;
    }
}


@media screen and (max-width: 1560px) {
    .contacts {
        &__wrapper {
            gap: 100px;
            justify-content: center;
        }

        .contacts-info {
            max-width: 500px;
        }

    }
}


@media screen and (max-width: 1560px) {
    .contacts {
        padding: 105px 0 60px;

        &__wrapper {
            gap: 50px;
            justify-content: center;
        }


        .contacts-info {
            width: 100%;
            max-width: 500px;
            padding-left: 10px;

        }
    }
}

@media screen and (max-width: 1460px) {
    .contacts {

        &__wrapper {
            justify-content: space-between;
        }

    }
}


@media screen and (max-width: 992px) {
    .contacts {
        padding: 55px 0 60px;

        &__wrapper {
            flex-direction: column;
        }

        .contacts-form {
            max-width: 100%;
            border-right: none;
            margin-bottom: 50px;
        }

        .contacts-info {
            max-width: 100%;
            padding-left: 0px;

        }
    }
}

@media screen and (max-width: 568px) {
    .contacts {
        padding: 75px 0 30px;

        .contacts-form {
            margin-bottom: 66px;

            &__title {
                text-align: center;
                font-size: 25px;
                width: 290px;
                margin: 0 auto 10px;
            }

            &__desc {
                width: 260px;
                margin: 0 auto 10px;
                font-size: 14px;
                line-height: 120%;
                text-align: center;
            }



            .form {
                &__btn {
                    margin: 14px auto 0;
                    font-size: 14px;
                }

                &__input,
                &__textarea {
                    &::placeholder {
                        font-size: 13px;
                    }
                }

                &__textarea {
                    min-height: 80px;
                }
            }
        }



        .contacts-info {
            max-width: 287px;
            margin: 0 auto;

            &__title {
                font-size: 25px;
                margin-bottom: 20px;
            }

            &__item {
                &-link {
                    font-size: 14px;
                    line-height: 100%;
                }

                &-icon {
                    max-width: 23px;
                    margin-right: 12px;
                }
            }

            &__item+.contacts-info__item {
                margin-top: 14px;
            }
        }
    }

    .location {
        &__img {
            height: 50vh;
        }
    }

}