.header {
    position: relative;
    padding: 16px 0 26px;

    &::after {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background: #6D9AE4;
        z-index: -1;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__picture {
        width: 100%;
        max-width: 275px;

        .logo {
            display: block;
            width: 100%;
        }
    }

    nav,
    .languages,
    .menu {
        display: flex;
        align-items: center;
    }


    .menu {
        margin-right: 125px;

        &__item {
            &--duble {
                position: relative;
                padding-right: 25px;

                &::after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 30%;
                    width: 22px;
                    height: 25px;
                    background-image: url('@img/menu-up.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: translateY(-50%) rotate(-180deg);
                    transition: all 0.5s;
                }

                &:hover {
                    &::after {
                        transform: translateY(0%) rotate(0deg);
                    }

                    .list-duble {
                        display: flex;
                    }
                }
            }

            &-link {
                font-size: 20px;
                line-height: 24px;
            }
        }

        &__item+.menu__item {
            margin-left: 40px;
        }


        .list-duble {
            position: absolute;
            display: none;
            justify-content: space-between;
            left: 0;
            bottom: 0;
            width: 620px;
            height: auto;
            padding: 55px 45px 25px 25px;
            transform: translateY(100%);
            background: #FFFFFF;
            box-shadow: 0px 5.33333px 5.33333px rgba(109, 154, 228, 0.2);
            z-index: 1000;
            animation: fade 1s;

            &__item {
                &-link {
                    position: relative;
                    font-weight: 400;
                    font-size: 18.6667px;
                    line-height: 100%;
                    width: fit-content;
                    color: #323232;

                    &::after {
                        position: absolute;
                        content: '';
                        left: 50%;
                        bottom: 0;
                        width: 0%;
                        height: 2px;
                        background: #6D9AE4;
                        transition: all 0.5s;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        right: 50%;
                        bottom: 0;
                        width: 0%;
                        height: 2px;
                        background: #6D9AE4;
                        transition: all 0.5s;
                    }

                    &:hover {
                        &::after {
                            width: 50%;
                        }

                        &::before {
                            width: 50%;
                        }
                    }
                }
            }

            &__item+.list-duble__item {
                margin-top: 20px;
            }

        }
    }

    .languages {
        &__item {
            font-size: 20px;
            line-height: 24px;

            &-active {
                font-weight: 700;
            }
        }


    }


    .bars {
        display: none;
    }
}


@media screen and (max-width: 1550px) {

    .header {
        padding: 12px 0 18px;

        &__picture {
            max-width: 204px;
        }

        .menu {
            margin-right: 52px;

            &__item {
                &-link {
                    font-size: 16px;
                }

                &--duble {
                    padding-right: 20px;

                    &::after {
                        top: 50%;
                        width: 14px;
                        height: 8px;
                    }

                    &:hover {

                        &::after {
                            transform: translateY(-50%) rotate(0deg);
                        }
                    }
                }
            }


            &__item+.menu__item {
                margin-left: 35px;
            }


            .list-duble {
                width: 464px;
                height: auto;
                padding: 25px 20px 20px 25px;


                &__item {
                    &-link {
                        font-size: 14.6667px;
                        line-height: 100%;
                    }
                }

                &__item+.list-duble__item {
                    margin-top: 15px;
                }

            }
        }

        .languages {
            &__item {
                font-size: 16px;
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .header {
        padding: 13px 0 11px;

        &__picture {
            max-width: 174px;
        }


        .navigation {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            height: 95vh;
            padding: 75px 10px 40px 20px;
            z-index: 1000;
            transform: translateY(-100%);
            transition: all 0.5s;
            background: #ffffffe0;
        }

        .navigation.active {
            transform: translateY(0%);
        }

        .menu {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            margin-right: 0;
            margin-bottom: 40px;

            &__item {
                font-weight: 600;

                &--duble {
                    padding-right: 0px;

                    &::after {
                        display: none;
                    }
                }
            }

            &__item+.menu__item {
                margin-left: 0;
                margin-top: 10px;
            }

            .list-duble {
                position: relative;
                width: auto;
                height: auto;
                display: flex;
                padding: 0;
                margin-top: 10px;
                gap: 20px;
                background: transparent;
                box-shadow: none;
                transform: translateY(0%);
                animation: none;

                &__item {
                    &-link {
                        font-size: 14px;
                        line-height: 120%;

                        &::after,
                        &::before {
                            display: none;
                        }
                    }
                }

                &__item+.list-duble__item {
                    margin-top: 10px;
                }

            }

        }

        .bars {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4px;
            width: 24px;
            height: 14px;

            &__item {
                width: 100%;
                height: 2px;
                background: #F8F8F8;
                border-radius: 10px;
            }
        }

        .bars.active {
            justify-content: center;
            gap: 0;
            z-index: 1200;
            transition: all 0.5s;

            .bars__item {
                position: absolute;
                top: 50%;
                left: 50%;
                background: #6D9AE4;
                transition: all 0.5s;

                &:nth-child(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-child(3) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }

    }
}