.all-articles {
    padding: 120px 0 70px;

    &__title {
        text-align: center;
        margin-bottom: 95px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .load-more {
        display: flex;
        align-items: center;
        margin: 60px auto 0;
        border: none;
        background: none;
        cursor: pointer;

        &__icon {
            display: block;
            width: 100%;
            max-width: 37px;
            margin-right: 7px;
        }

        span {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.main-picture {
    display: block;
    width: 100%;
}




@media screen and (max-width: 1550px) {
    .all-articles {
        padding: 60px 0 70px;

        &__title {
            margin-bottom: 75px;
        }

        .load-more {
            display: flex;
            align-items: center;
            margin: 30px auto 60px;
            border: none;
            background: none;
            cursor: pointer;

            &__icon {
                display: block;
                width: 100%;
                max-width: 37px;
                margin-right: 7px;
            }

            span {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}




@media screen and (max-width: 992px) {
    .all-articles {
        padding: 60px 0 40px;

        &__title {
            text-align: center;
            margin-bottom: 25px;
        }

        &__wrapper {
            flex-wrap: wrap;
        }

        .blog-box {
            max-width: 48%;
        }

        .load-more {
            margin: 30px auto 0;
        }
    }
}



@media screen and (max-width: 568px) {
    .all-articles {
        padding: 50px 0 50px;

        &__title {
            text-align: center;
            font-size: 35px;
            margin-bottom: 35px;
        }

        &__wrapper {
            flex-wrap: wrap;
        }

        .blog-box {
            max-width: 100%;
        }

        .load-more {
            margin: 30px auto 0;
        }
    }
}