html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    outline: none
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    text-decoration: none;
    color: inherit
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0
}

body {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    min-width: 320px;
    margin: 0;
}


.container {
    width: 100%;
    max-width: 1840px;
    padding: 0 40px;
    margin: 0 auto;
}

.btn {
    display: block;
    width: fit-content;
    padding: 13px 15px 14px 15px;
    background: #78D651;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.03em;
    border-radius: 6.66667px;
    transition: all 0.5s;

    &:hover {
        background: #8FF167;
    }
}


.btn-more {
    position: relative;
    display: block;
    width: fit-content;
    padding-right: 17px;
    transition: transform 0.5s;

    &::after {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        height: 14px;
        width: 7px;
        background-image: url('@img/more-icon.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%);
        transition: transform 0.5s;
    }

    &:hover {
        color: #D69C47;

        &::after {
            transform: translate(3px, -50%);
        }
    }
}

.title {
    font-weight: 700;
    font-size: 66px;
    line-height: 120%;
    text-transform: uppercase;
}


@media screen and (max-width: 1560px) {
    .title {
        font-size: 50px;
    }
}


@media screen and (max-width: 1100px) {

    .container {
        padding: 0 15px;
    }
}


@media screen and (max-width: 568px) {
    .btn {
        padding: 8px 14px;
        font-size: 16px;
        border-radius: 2.66667px;
    }


    .promo {
        .btn {
            width: 100%;
            max-width: 200px;
            text-align: center;
        }
    }


    .btn-more {
        font-size: 14px;
    }



    .preloader {
        svg {
            width: 70%;
            height: 300px;
        }
    }
}


.hidden-box {
    position: relative;
    overflow: hidden;
}