.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffffa3;
  opacity: 0;
  z-index: -1;


  &__close {
    position: absolute;
    right: 0px;
    top: 0px;
    // background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    background: #fff;
    padding: 5px;

    cursor: pointer;
    z-index: 100;


    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('@img/close-arrows.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      transition: all 0.5s;
    }

    &:hover {
      &::after {
        transform: rotate(90deg);
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    // padding: 20px 10px;
    max-width: 800px;
    min-height: 500px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;

    iframe {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



@media screen and (max-width: 992px) {
  .modal {
    padding: 0 20px;


    &__close {
      transform: translate(-0%, -110%);


      &:hover {
        transform: translate(100%, -100%) rotate(90deg);
      }
    }

    .content {
      min-height: 400px;
    }
  }
}