.youtube-lazy {
  width: 100%;
  height: 100%;
}

.youtube-lazy .youtube-lazy-container {
  position: relative;
  padding-bottom: 66%;
}

.youtube-lazy .youtube-lazy-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.youtube-lazy .youtube-lazy-image svg path {
  transition: all 0.5s;
}

.youtube-lazy .youtube-lazy-image:hover svg path {
  opacity: 1;
  fill: #cc181e;
}

.youtube-lazy .youtube-lazy-button {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  width: 86px !important;
  height: 60px !important;
  padding: 0 !important;
  margin: -29px 0 0 -42px !important;
  font-weight: 400 !important;
  line-height: 1 !important;
  opacity: 0.9;
}

.youtube-lazy iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popub::after {
  background: #000000d6 !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}

@media screen and (max-width: 992px) {
  .youtube-lazy .youtube-lazy-container {
    height: 100%;
    width: 100%;
  }


  .youtube-lazy .youtube-lazy-container {
    position: relative;
    padding-bottom: 107%;
  }
}