.personnels {
  padding-top: 230px;

  &__title {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin-bottom: 70px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: #6D9AE4;
      border-radius: 13.3333px;
      transform: translateX(-35%);
      z-index: -1;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .personnels-box {
    position: relative;
    width: 100%;
    max-width: calc(25% - 10px);
    padding: 10px 10px 18px 10px;
    background: #FFFFFF;
    box-shadow: 0px -5.33333px 5.33333px rgba(109, 154, 228, 0.2), 0px 5.33333px 5.33333px rgba(109, 154, 228, 0.2);
    border-radius: 6.66667px;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background: #fff;
      transition: all 0.5s;
    }

    &:hover {
      &::after {
        background: #6D9AE4;
      }
    }

    &__number {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: 0.03em;
      color: rgba(109, 154, 228, 0.7);
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      text-transform: uppercase;
    }

    &__desc {
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      text-transform: uppercase;
    }
  }
}







@media screen and (max-width: 1568px) {
  .personnels {
    padding-top: 150px;

    &__title {
      margin-bottom: 50px;
    }

    .personnels-box {
      &__number {
        margin-bottom: 15px;
        font-size: 50px;
      }
    }
  }
}



@media screen and (max-width: 992px) {
  .personnels {
    padding-top: 80px;

    &__title {
      margin-bottom: 50px;
      font-size: 35px;

      &::after {
        width: 75%;
      }
    }

    &__wrapper {
      gap: 30px 0;
    }

    .personnels-box {
      max-width: calc(50% - 10px);

      &__number {
        margin-bottom: 10px;
        font-size: 35px;
      }

      &__title {
        font-size: 14px;
      }

      &__desc {
        font-size: 14px;
      }
    }
  }
}



@media screen and (max-width: 568px) {
  .personnels {
    padding-top: 60px;

    &__title {
      margin-bottom: 30px;
      font-size: 25px;
      max-width: 70%;

      &::after {
        width: 110%;
        height: 35%;
        transform: translateX(-10%);
      }
    }

    &__wrapper {
      gap: 20px 0;
    }

    .personnels-box {
      max-width: calc(50% - 10px);
      padding: 7px 12px 15px 5px;

      &__number {
        margin-bottom: 10px;
        font-size: 35px;
      }

      &__title {
        font-size: 14px;
      }

      &__desc {
        margin-top: 2px;
        font-size: 12px;
        line-height: 140%;
        text-transform: math-auto;
      }
    }
  }
}